
/* ################################################################################################ */
/* Generic */

body {
  font-family: "futura";
  margin-top: 60px;
  background-color: #f1f1f1;
  font-size: 14px;
}

.box p {
  margin: 0!important;
  margin-bottom: 3px!important;
  font-size: 0.8em;
}
h5 {
  margin-top: 0!important;
  font-family: arvo!important;
}

/* ################################################################################################ */
/* Header Bar */

.nav_custom a.brand.head_logo {
  padding: 0;
}
.nav.nav_options {
  float: right;
}
.dp_image {
  width: 30px;
}
.custom_drop {
  padding: 8px 15px!important;
}
.nav_options .dropdown-menu {
  border-radius: 0;
  border: none;
  background-color: #f9f9f9;
  padding: 0;
  margin: 0;  
}
.nav_options .dropdown-menu a {
  padding: 7px 20px;
}
.nav_options .dropdown-menu a:hover {
  background: none;
  background-image:none;
  background-color: #FB9B6D;
}
.navbar .nav > li > .dropdown-menu:after, .navbar .nav > li > .dropdown-menu:before {
  display: none;
}

/* ################################################################################################ */
/* Index Page */

.box {
  background-color: #fff;
  padding: 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1.5em;

  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}
.box .content {
  padding: 0.3em;
  margin-top: 0.5em;
  border-top: 1px solid #ccc;
}
.box img {
  width: 100%;
}
.large_wrapper {
  width: 980px!important;
  margin-top: 4em;
}

@media (min-width: 1250px) {
  .large_wrapper {
    width: 1220px!important;
  }
}
.nav_custom {
  background-image: none!important;
  background-color: #F68944!important;
  border: none!important;
}
.nav_custom li a {
   /*color: #f9f9f9!important;*/
   text-shadow: none!important;
}
.nav_custom li {
   color: #f9f9f9!important;
   text-shadow: none!important;
}
.nav_custom a.brand {
  color: white;
  text-shadow: none;
  font-family: Futura-CondensedExtraBold;
}
